@import "../variables";
@import "../mixins";

.head__section {
  position: relative;
  width: 100%;
  &__img {
    width: 100%;
    &__span {
      position: absolute;
      bottom: 0;
      left: 0;
      letter-spacing: 5px;
      line-height: 1.5;
      opacity: 0.8;
      padding: 22px;
    }
  }
}
.main {
  margin: 0px;
  max-width: 1100px;

  &__section {
    padding: 64px 0px;
    @include flexBox(stretch);
    margin-left: 125px;
    &__img {
      width: 50%;
      padding: 12px 24px;
      //   margin-left: 100px;
      margin-right: 0;
      &__item {
        max-width: 100%;
      }
    }
    &__text {
      width: 50%;
      padding: 12px 22px;
      &__h2 {
        @include textStyle(36px, 400, 5px, center);
      }
      &__h5 {
        @include textStyle(18px, 400, 5px, center);
        margin: 18px 0;
      }
      &__paragraph {
        @include textStyle(18px, 400, 0px, left);

        &__span {
          @include textStyle(18px, 400, 0px, center);
          background-color: #fff;
          display: inline-block;
          padding: 0 8px;
        }
      }
      &__paragraph2 {
        @include textStyle(18px, 400, 0px, left);
        margin: 18px 0;
        color: #757575;
      }
    }
  }
  &__section2 {
    padding: 64px 0px;
    @include flexBox(stretch);
    margin-left: 125px;
    &__text {
      width: 50%;
      padding: 12px 22px;
      &__h2 {
        @include textStyle(36px, 400, 5px, center);
      }
      &__h4 {
        @include textStyle(20px, 400, 5px, left);
        margin: 10px 0;
      }
      &__paragraph {
        @include textStyle(18px, 400, 0px, left);
        margin: 15px 0;
        color: #757575;
      }
    }
    &__img {
      width: 50%;
      padding: 12px 24px;
      &__item {
        width: 100%;
        opacity: 0.75;
      }
    }
  }
  &__section3 {
    padding: 64px 16px;
    &__h2 {
      @include textStyle(36px, 400, 5px, center);
      text-align: center;
    }
    &__paragraph {
      @include textStyle(18px, 400, 0, left);
      margin: 15px 0;
    }
    &__adress {
      @include textStyle(20px, bold, 0, left, #607d8b);
      font-style: normal;
      color: #607d8b;
    }
    &__form {
      @include flexBox(flex-start, normal);
      flex-direction: column;
      &__label {
        width: 100%;
        margin: 15px 0;
        &__input {
          padding: 16px 8px;
          width: 100%;
          border: none;
          border-bottom: 1px solid $hovering;
        }
      }
      &__button {
        margin: 15px 0;
        padding: 8px 16px;
        border: 1px solid $secondary-color;
        background-color: rgb(185, 184, 184);
        @include textStyle(18px);
        font-family: "Times New Roman", Times, serif;
      }
    }
  }
}
.footer {
  color: $primary-color;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  display: block;
  &__span {
    color: $primary-color;
    &__link {
      color: $primary-color;
    }
  }
}
.footer__span__link:hover {
  color: #4caf50;
}
.main__section3__form__button:hover {
  background-color: #757575;
}
::placeholder {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}
hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

@include underPhoneScreen() {
  .main__section__img {
    display: none;
  }
  .main__section__text {
    width: 100%;
    margin-left: -100px;
  }
}

@include underTab() {
  .main__section2 {
    display: block;
  }
  .main__section2__text {
    width: 100%;
  }
  .main__section2__img {
    width: 100%;
  }
}
